main{
    max-width: 400px;
    padding: 5px;
}

footer{
    background-color: #2f2f2f;
    color: #f4f4f4;
    font-size: small;
}

section.footer{
    padding: 7px;
}

.shadow{
    box-shadow: 0px 2px 5px #cccccc;
}

section{
    margin: 2px 0px;
}

section.posts.collection {
    background-color: #fcfcfc;
}

img.post-element.image.source{
    display: none;
    max-width: 200px;
    height: auto;
}

div.post-element.image-background{
    display: block;
    height: 250px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

img.user.profile{
    max-width: 25px;
    height: auto;
}

ul.collection.posts{
    list-style: none;
    list-style-position: outside;
    padding: 0px;
}

ul.form.post{
    padding: 0px;
}

ul.collection.posts.detail{
    padding: 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

li.post.post-single-item{
    border: solid 1px black;
    border-radius: 5px;
    background-color: #b2b2b2;
    margin-bottom: 15px;
}

li.post.post-single-item button{
    max-width: 150px;
}

li.post-element{
    padding: 5px;
}

section.comments{
    overflow: hidden;
    padding-top: 5px;
}

section.comments ul.collection.posts{
    padding-top: 5px;
    padding-left: 20px;
}

ul.collection.posts.detail{
    padding: 5px;
    background-color: #fbfbfb;
    border-radius: 5px;
}

section.comments li.post{
    padding-bottom: 5px;
    padding-right: 5px;
}

li.buttons.save{
    text-align: end;
}

li a.active span{
    text-decoration: underline;
}

li.alert.alert-dismissible .btn-close {
    padding: 0.75rem 1rem;
}

button.button{
    margin-right: 5px;
}

li.timestamp{
    font-size: small;
    text-align: end;
}

li.header{
    font-size: medium;
}

li.header a, li.user.list.item a{
   text-decoration: none; 
}

li.text {
    font-family: sans-serif;
    font-size: 14px;
}

.hidden{
    display: none !important;
}